<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>YAML | Example &quot;3col_1-2-3&quot;</title>
<!-- (en) Add your meta data here -->
<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->
<link href="/fileadmin/template/04/css/layout_1-2-3.css" rel="stylesheet" type="text/css"/>
<!--[if lte IE 7]>
<link href="/fileadmin/template/04/css/patches/patch_1-2-3.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<!-- ###BODY### begin -->
<!-- skip link navigation -->
<ul id="skiplinks">
	<li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
	<li><a class="skip" href="#col2">Skip to main content (Press Enter).</a></li>
</ul>

<div class="page_margins">
  <div class="page">
    <div id="header" role="banner">
      <div id="topnav" role="contentinfo">
        <span><a href="http://www.wakepark-thulba.de/footermenue/impressum.html">Impressum</a></span>
      </div>
    </div>

    <!-- begin: main content area #main -->
    <div id="main">

      <!-- begin: #col1 - first float column -->
      <div id="col1" role="complementary">
          <!-- begin: main navigation #nav -->
      <div id="navig">
      	<h1>men&uuml;</h1>
	  <!-- ###menu### begin -->
        <!-- ###menu### end -->
        </div>
    <!-- end: main navigation -->

	  <div id="col1_content" class="clearfix">
        <!-- ###left### begin -->
	<!-- ###left### end -->
	<!-- ###staticL### begin -->
	<!-- ###staticL### end -->
	</div>
      </div>
      <!-- end: #col1 -->

      <!-- begin: #col2 second float column -->
      <div id="col2" role="main">
        <div id="col2_content" class="clearfix">
        	<!-- ###middle### begin -->
		<!-- ###middle### end -->
	</div>
      </div>
      <!-- end: #col2 -->

      <!-- begin: #col3 static column -->
      <div id="col3" role="complementary">
        <div id="col3_content" class="clearfix">
        	<!-- ###right### begin -->
		<!-- ###right### end -->
		<!-- ###staticR### begin -->
		<!-- ###staticR### end -->
	</div>
        <!-- IE Column Clearing -->
        <div id="ie_clearing">&nbsp;</div>
      </div>
      <!-- end: #col3 -->
    </div>
    <!-- end: #main -->

    <!-- begin: #footer -->
    <div id="footer" role="contentinfo">
			<!-- ###footer### begin -->
                        <!-- ###footer### end -->

<p>Layout based on <a href="http://www.yaml.de/">YAML</a></p></div>
    <!-- end: #footer -->
  </div>
</div>
<!-- full skiplink functionality in webkit browsers -->
<script src="/fileadmin/template/04/yaml/core/js/yaml-focusfix.js" type="text/javascript"></script>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.kon-line.de/" : "http://piwik.kon-line.de/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.kon-line.de/piwik.php?idsite=3" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->
<!-- ###BODY### end -->

</body>
</html>
